parse-api/src/main/mule/parse-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8dd09cc7-a361-47f8-8e94-83a1fb9487f0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="parse-apiFlow" doc:id="6969075c-82b4-423b-bdbd-7adc76cb0fe0" >
		<http:listener doc:name="Listener" doc:id="60134ccd-4dfc-4954-b699-84512170d594" config-ref="HTTP_Listener_config" path="/parse"/>
		<ee:transform doc:name="Transform Message" doc:id="50672536-5095-46eb-a95b-24c0209873e3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "order": payload.orderNumber ++ " Book  delevered by flipkart",
    "product": payload.productName
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
